.post__wrapper{
    background:white;
    width: 100%;
    height: auto;
}
.post__form textarea{
    margin: 20px 0px;
    border: 0px;
    border-bottom: 1px solid lightgray;
    outline: 0px;
}
.post__form{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 60px;
   
}
.post__form .file{
   display: inline-block;
   text-align: end;
   margin: 10px 0px;
   border: 0px;
   padding: 10px 20px ;
}
.post__form input{
    display: block;
    width: 100%;
    border: 0px;
    outline: none;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
}
