.PostComment{
    margin-left: 15px;
    width: 100%;
    padding: 8px 10px;
}
.post__commentHeader{
    display: flex;
    align-items: center;
}
.time{
    width: 100%;
    font-size: 11px;
    margin-top: 2px!important;
    color: #6c6666;
    text-align: end;
    font-family: cursive;
}

.postComment__body{
    margin-left: 15px;
    width: 70%;
    padding: 15px 20px;
    border-radius: 0px 36px 0px 35px;
    background: whitesmoke;
}