
.post__details{
    max-width: 50vw;
    min-width: 584px;
    margin: auto;
    margin-top: 15px;
    background: white;
}
.post__detailsHeader{
    display: flex;
    align-items: center;
    padding: 10px 7px;
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 1px -2px black
}
.post__detailsHeader h3{
    margin-left: 10px;
    
}
.post_detailsBody{
    display: flex;
    border-right: 1px solid lightgrey;
}

.post__detailsImage{
    overflow: hidden;
    width: 450px;
    height: 300px;
}
.post__detailsImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post_detailsDataPost{    padding: 20px 25px;
    font-family: -webkit-pictograph;
    color: #000000b8;}
.post__detailsComment .tile{
    width: 100%;
    padding: 6px;
    color: #6d6868e6;
    border: 1px solid #d5d2d296;
    margin-bottom: 5px;
}

.tile .MuiButton-text {
        padding: 6px 8px;
        height: 38px  !important;
        width: 93px !important;
        margin-left: 25px;
    }


.post__detailsCaption{
    width: 32%;
    color: rgb(99, 95, 95);
    
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}
.post__detailsCaption h3{
    padding: 30px 20px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
    font-family: cursive;
}
.comments_input{
    width: 70%;
    border: 1px solid #999;
    border-radius: 20px;
    margin-left: 13px;
    
}
.comments_input input{
    width: 100%;
    padding: 10px 20px;
    outline: 0px;
    background: transparent;
    border: 0px;
}
.comments{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 6px;
    
}
.comment__wrapper{
    border: 1px solid lightgray;
    padding: 5px 20px;
}
.comments .MuiAvatar-root{
    margin: 0px 6px;

}
